h2 {
	margin-top: 100px;
	text-align: center;
	width: 100vw;
}

.restaurant-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100vw;
	margin-bottom: 60px;
}

.form-group {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 500px;
	justify-content: space-between;
	font-weight: bold;
}

.form-group input {
	width: 60%;
	max-width: 300px;
}

.form-group-description {
	display: flex;
	gap: 10px;
	width: 500px;
	justify-content: space-between;
	font-weight: bold;
}

.description-text {
	width: 60%;
	max-width: 300px;
	height: 100px;
	resize: none;
}

.form-section-label {
	display: flex;
	width: 500px;
	flex-shrink: 0;
	font-weight: bold;
}

.form-select {
	width: 307px;
}

.form-select-smaller {
	width: 200px;
}

.form-select-smallest {
	width: 100px;
}

.form-group-hours {
	margin-bottom: 10px;
}

.day {
	display: flex;
	align-items: center;
	width: 500px;
	justify-content: space-between;
	margin-bottom: 10px;
}

.day-closed {
	display: flex;
	align-items: center;
	width: 200px;
	justify-content: space-between;
}

.day-title {
	font-weight: bold;
}

.from-to-hours {
	display: flex;
	align-items: center;
	width: 250px;
	justify-content: space-between;
}

.form-group-booking {
	display: flex;
	align-items: center;
	width: 500px;
	justify-content: space-between;
	gap: 5px;
}

.booking-times-title {
	font-weight: bold;
}

.form-group-table-sizes {
	display: flex;
	align-items: center;
	width: 500px;
	justify-content: space-between;
	gap: 5px;
}

.save-btn {
	font-size: 1.1rem;
	font-weight: 600;
	color: black;
	margin-right: 20px;
	background-color: #d9d9d9;
	width: 150px;
}
