html {
	scroll-behavior: smooth;
}

.restaurant-page {
	font-family: Arial, sans-serif;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh; /* Ensure the page takes the full height of the viewport */
	padding-top: 80px; /* Add padding to account for the fixed header */
}

.restaurant-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #333;
	color: #fff; /* Ensure text color is white */
	padding: 10px 20px;
	border-bottom: 1px solid #ddd;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
}

.restaurant-header h1 {
	margin: 0;
}

.user-info {
	display: flex;
	align-items: center;
}

.user-info span {
	margin-right: 10px;
}

.image-container {
	display: flex;
	width: 100%;
	max-width: 800px;
	margin-top: 20px; /* Add margin to separate from header */
}

.restaurant-main-image {
	width: 110%;
	background-color: #d9d9d9;
	overflow: hidden;
}

.restaurant-main-image img {
	width: 110%;
	height: auto;
}

.restaurant-sub-images {
	display: flex;
	flex-direction: column;
	width: 30%;
}

.sub-image {
	width: 100%;
	height: 145px;
	background-color: #d9d9d9;
	overflow: hidden;
}

.sub-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.restaurant-name {
	margin-top: 20px; /* Add margin to separate from images */
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.restaurant-nav {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
	background-color: #f8f8f8;
	padding: 10px;
	width: 100%;
	max-width: 800px;
}

.restaurant-nav a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.content-and-reservation {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 800px;
	margin-top: 20px;
}

.content {
	flex: 1;
}

.restaurant-section {
	margin-bottom: 20px;
}

.popular-dishes {
	display: flex;
	justify-content: space-around;
}

.dish {
	width: 100px;
	height: 100px;
	background-color: #d9d9d9;
}

.menu {
	display: flex;
	justify-content: space-around;
}

.menu-item {
	width: 100px;
	height: 150px;
	background-color: #d9d9d9;
}

.reservation {
	width: 300px;
	position: sticky;
	top: 20px;
	margin-left: 20px;
	text-align: left;
}

.reservation form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.reservation label {
	display: flex;
	justify-content: space-between;
}

.reservation button {
	align-self: flex-end;
	padding: 10px 20px;
	background-color: red;
	color: white;
	border: none;
	cursor: pointer;
}
