.menu {
	border-style: solid;
	border-color: white;
	border-width: 2px;
}

.menu-title {
	text-align: center;
}

.menu-item {
	display: flex;
}

.item-text {
	margin-left: 20px;
}

.item-price {
	margin-left: auto;
	margin-right: 20px;
}
