.nav-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	width: 100%;
	position: fixed;
	top: 0px;
	padding-left: 30px;
	background-color: white;
	max-width: 100vw;
	left: 0;
}

.nav-header .nav-logo {
	color: black;
	font-size: 40px;
	font-weight: bold;
}

.nav-btns-container {
	margin-right: 40px;
	display: flex;
	align-items: center;
}

.user-pic {
	padding: 5px 20px;
	background: #d9d9d9;
	width: 1px;
	height: 30px;
	border-radius: 50px;
}

.user-name {
	font-size: 1.1rem;
	font-weight: 600;
	color: black;
	margin-left: 10px;
	margin-right: 20px;
}

.nav-btns {
	font-size: 1.1rem;
	font-weight: 600;
	color: black;
	margin-right: 20px;
	background-color: #d9d9d9;
}
