.slick-prev,
.slick-next {
	opacity: 1 !important;
	color: white !important;
	font-size: 40px !important;
	transform: scale(1.5) !important;
	transition: transform 0.3s ease !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
}

.slick-prev {
	left: 10px !important;
}

.slick-next {
	right: 18px !important;
}

.slick-dots li button {
	opacity: 1 !important;
}

.slick-dots li button:hover {
	opacity: 1 !important;
}

.divider {
	margin-bottom: 0;
	margin-top: 0;
}
