.admin-login-fields-btns {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100vw;
}

.admin-restaurants-listing {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 30px;
	margin-right: 30px;
}

h2 {
	color: grey;
	margin-left: 50px;
}

.restaurants-listing-title {
	color: grey !important;
}
