.admin-login-fields-btns {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100vw;
}

.admin-restaurants-listing {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 30px;
	margin-right: 30px;
}
