.rest-man-home-restaurants {
	margin-top: 100px;
	margin-bottom: 100px;
}

.rest-man-home-restaurants h2 {
	margin-top: 50px;
	color: black;
	text-align: left;
	text-indent: 35px;
}

.rest-man-home-restaurants p {
	color: black;
	text-align: center;
}

.rest-man-restaurants-listing {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	margin-left: 30px;
	margin-right: 30px;
}

h2 {
	color: grey !important;
}
