.admin-analytics-container {
	display: flex;
	flex-direction: column;
	align-items: center; 
	justify-content: center; 
  }
  
  .iframe-container {
	display: flex;
	gap: 20px; 
	width: 100%;
	max-width: 1400px; 
	margin-top: 20px;
  }
  
  